h1, h2 {
    font-family: 'Noto Serif', serif;
}

h1 {
    text-align: center;
    font-size: 35px;
}

h2 {
    font-size: 22px;
}

p, li {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
}

main, footer {
    margin: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #0099BF;
}

a:hover {
    background-color: #00FF00;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    padding: 0.5em;
    border: thin silver solid;
    width: 98%;
    margin: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
}

::selection {
    background: #ffff65;
}

@media (min-width: 1100px) {
    main, footer {
        margin: 190px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (min-width: 1350px) {
    main, footer {
        margin: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (min-width: 1550px) {
    main, footer {
        margin: 410px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (min-width: 1750px) {
    main, footer {
        margin: 520px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

h2 {
    background: rgb(85, 85 ,231);
    background: linear-gradient(45deg, rgb(85, 85, 231), rgb(128,128, 228));
    color: white;
    padding: 5px;
    text-shadow: 1px 1px black;
}
