h1, h2 {
    font-family: 'Noto Serif', serif;
}

h1 {
    text-align: center;
    font-size: 35px;
}

h2 {
    font-size: 22px;
}

p, li {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
}

main, footer {
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #0099BF;
}

a:hover {
    background-color: #00FF00;
}

::selection {
    background: #ffff00;
}
